---
http_interactions:
- request:
    method: post
    uri: http://sandbox.ecommerce.myfreecomm.com.br/api/orders/rexpense-custom-monthly-brl-5250/
    body:
      encoding: UTF-8
      string: '{"global_account":"e5732007-7989-4372-8e72-9ec8cf6ee046","client_email":"jaime.lannister@mailinator.com","identity":"8923199e-6c43-415a-bbd1-2e302fdf8d96"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cDlhWXNSU0l2TTo0MWUxMzc2OGI0N2Q1NTM0MTdiNDQxYjg2M2Jh
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cache-Timeout:
      - "-1"
      Content-Language:
      - pt-br
      Content-Type:
      - application/json
      Location:
      - http://sandbox.ecommerce.myfreecomm.com.br/rexpense-custom-monthly-brl-5250/2609/checkout/
    body:
      encoding: UTF-8
      string: '{"is_paid": false, "address_number": null, "plan_change_urls": {},
        "activation_expired": false, "number": 2609, "address_state": null, "global_account":
        "e5732007-7989-4372-8e72-9ec8cf6ee046", "api_url": "http://sandbox.ecommerce.myfreecomm.com.br/api/orders/rexpense-custom-monthly-brl-5250/2609/",
        "is_trial": false, "document_number": null, "checkout_url": "http://sandbox.ecommerce.myfreecomm.com.br/rexpense-custom-monthly-brl-5250/2609/checkout/",
        "active_until": null, "charge_day": 25, "address_quarter": null, "activated_at":
        null, "is_active": false, "user_code": "", "address": null, "is_recurring":
        true, "address_city": null, "plan_slug": "rexpense-custom-monthly-brl-5250",
        "address_complement": null, "discounts_url": "http://sandbox.ecommerce.myfreecomm.com.br/api/orders/rexpense-custom-monthly-brl-5250/2609/discounts/",
        "created_at": "2015-03-25 17:55:32", "adjustments_url": "http://sandbox.ecommerce.myfreecomm.com.br/api/orders/rexpense-custom-monthly-brl-5250/2609/adjustments/",
        "next_payment_at": null, "amount": "52.50", "client_email": "jaime.lannister@mailinator.com",
        "zip_code": null, "client_name": "", "invoices_url": "http://sandbox.ecommerce.myfreecomm.com.br/api/orders/rexpense-custom-monthly-brl-5250/2609/invoices/"}'
      effective_url: http://sandbox.ecommerce.myfreecomm.com.br/api/orders/rexpense-custom-monthly-brl-5250/
  recorded_at: Wed, 25 Mar 2015 20:55:32 GMT
recorded_with: VCR 2.9.3
