---
http_interactions:
- request:
    method: get
    uri: http://sandbox.ecommerce.myfreecomm.com.br/api/orders/rexpense-custom-monthly-brl-5250/3001/adjustments/201/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cDlhWXNSU0l2TTo0MWUxMzc2OGI0N2Q1NTM0MTdiNDQxYjg2M2Jh
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
      Content-Language:
      - pt-br
      Content-Type:
      - application/json
      ETag:
      - '"-4645357772151842967"'
    body:
      encoding: UTF-8
      string: '{"valid_until": "2015-06-27", "redeemed_amount": 0, "valid_from": "2015-05-27",
        "description": "New promotion", "url": "http://sandbox.ecommerce.myfreecomm.com.br/api/orders/rexpense-custom-monthly-brl-5250/3001/adjustments/201/",
        "amount": "50.60", "order_url": "http://sandbox.ecommerce.myfreecomm.com.br/api/orders/rexpense-custom-monthly-brl-5250/3001/",
        "redemptions": []}'
      effective_url: http://sandbox.ecommerce.myfreecomm.com.br/api/orders/rexpense-custom-monthly-brl-5250/3001/adjustments/201/
  recorded_at: Wed, 27 May 2015 15:30:21 GMT
recorded_with: VCR 2.9.3
